:host {
  display: block;
  padding: 0 16px;
}

input {
  background-color:#fff;border:solid 1px #ccc;-webkit-box-shadow:none;
  box-shadow:none;position:relative;-webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;border-radius:3px;font-weight:bold;padding:10px;
  -webkit-box-sizing:border-box;box-sizing:border-box;width:100%;color:#333;font-size:14px;
}

button {
	border:0px;height:36px;display:inline-block;border-radius:4px;
	-webkit-font-smoothing:antialiased;	-moz-osx-font-smoothing:grayscale;padding:0 18px;
	font-size:15px;font-weight:bold;outline:none;position:relative;-webkit-box-shadow:none;
	box-shadow:none;cursor:pointer;margin-top:10px;	vertical-align:middle;text-align:center;
	background-color:#bd081c ;color:#fff;width:100%;
}